@use './variables.scss' as var;
@import './mixins.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var.$fontFamily;
    font-weight: 400;
    outline: none;
    text-decoration: none;
}

html {
    font-size: var.$fontSize;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* NAVBAR */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: var.$width;
    height: 5 * var.$lineHeight + rem;
    padding: var.$padding;
    display: grid;
    grid-template-rows: 3fr 1fr 1fr;
    background-color: var.$black;
    box-shadow: 0 0 2rem 1rem var.$boxShadowColor-5;
    transition: 2.5 * var.$transition;
    animation: animateNavbar 0.08 * var.$animationDuration 0.25 * var.$animationDelay forwards;
}

.navbar.change {
    height: var.$height;
    background-color: var.$black;
    box-shadow: none;
}

.logo {
    @include flex;
    width: 100%;
    position: relative;
    padding-left: 2 * var.$margin;

    .logo-name {
        font-weight: 700;
        font-size: 4 * var.$fontSize;
        letter-spacing: 0.4 * var.$letterSpacing;
        text-transform: uppercase;
        color: var.$colorLightRed;
        transition: 3 * var.$transition;

        span {
            font-size: 6 * var.$fontSize;
            font-weight: 900;
        }

        &:hover {
            color: var.$colorMediumRed;
        }
    }

    .logo-img {
        height: 5.5 * var.$lineHeight + rem;
    }
}

.nav-list {
    opacity: 0;
    visibility: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var.$black;
    transition: var.$transition;

    .nav-links {
        height: var.$height;
        @include flex;
        flex-direction: column;
        justify-content: center;

        .nav-link {
            margin: 1.25 * var.$margin 0;
            font-size: 7 * var.$fontSize;
            font-weight: 700;
            letter-spacing: 0.3 * var.$letterSpacing;
            color: var.$colorLightRed;
            text-transform: uppercase;
            transition: var.$transition;

            &:hover {
                color: var.$colorMediumRed;
            }
        }
    }
}

.change .nav-list {
    opacity: 1;
    visibility: visible;
    transition: all 0.7s 0.5s;
}

.menu-container {
    width: 6rem;
    height: 6rem;
    @include flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    cursor: pointer;

    .menu {
        position: fixed;
        top: 2.5rem;
        right: 4rem;
        z-index: 100;
        font-size: 5 * var.$fontSize;
        color: var.$colorLightRed;
        transition: var.$transition;

        &:hover {
            color: var.$colorMediumRed;
        }
    }
}

.back-icon {
    display: none;
}

.list-icon {
    display: block;
}

.show {
    display: block;
}

.hidden {
    display: none;
}

/* SECTION 1 */

.section-1 {
    width: 100%;
    height: var.$height;
}

.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    video {
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        opacity: 0.3;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.banner {
    width: 100%;
    position: absolute;
    top: 2.5 * var.$top;
    left: 5 * var.$left;
    transform: translateX(-50%);
    text-align: center;
}

.banner-heading {
    margin: 1.5 * var.$margin 0;
    height: 6 * var.$lineHeight + rem;
    perspective: 25 * var.$lineHeight + rem;
    overflow: hidden;

    span {
        position: absolute;
        width: 100%;
        @include flex;
        justify-content: center;
        font-size: 7 * var.$fontSize;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 900;
        text-transform: uppercase;
        color: var.$colorMediumRed;
        transform: translateZ(8rem);
        opacity: 0;
    }
}

.heading-1 {
    animation: animationHeading var.$animationDuration 1.5 * var.$animationDelay infinite;
}

.heading-2 {
    animation: animationHeading var.$animationDuration 3 * var.$animationDelay infinite;
}

.heading-3 {
    animation: animationHeading var.$animationDuration 4.5 * var.$animationDelay infinite;
}

.heading-4 {
    animation: animationHeading var.$animationDuration 6 * var.$animationDelay infinite;
}

.banner-paragraph {
    width: 45%;
    margin: 0 auto 3 * var.$margin;
    padding: var.$padding;
    font-weight: 900;
    font-size: 4.5 * var.$fontSize;
    color: var.$black;
    letter-spacing: 0.15 * var.$letterSpacing;
    line-height: 0.8 * var.$lineHeight;
    text-transform: uppercase;
    visibility: hidden;
    opacity: 0;
    animation: fadeAnimation 0.08 * var.$animationDuration 0.75 * var.$animationDelay forwards;
}

.banner-btn {
    @include button;
    height: 4 * var.$lineHeight + rem;
    font-size: 3.5 * var.$fontSize;
    background: linear-gradient(to right, var.$colorMediumRed, var.$colorDarkRed);

    &::before {
        @include button-before;
    }

    &:hover::before {
        left: 10 * var.$left;
    }
}

.logo-img {
    position: absolute;
    bottom: -12%;
    z-index: -1;
    opacity: 0.3;
}

.left {
    left: -15%;
    height: 95%;
    transform: rotate(95deg);
}

.right {
    right: -35%;
    height: 96%;
    transform: rotate(35deg);
}

@keyframes animationHeading {
    0% {
        transform: translateZ(8rem);
        letter-spacing: 3 * var.$letterSpacing;
        opacity: 0;
    }
    3% {
        transform: translateZ(0);
        letter-spacing: 1.5 * var.$letterSpacing;
        opacity: 1;
    }
    25% {
        transform: translateZ(0);
        letter-spacing: 1.5 * var.$letterSpacing;
        opacity: 1;
    }
    28% {
        transform: translateZ(8rem);
        letter-spacing: 3 * var.$letterSpacing;
        opacity: 0;
    }
    100% {
        transform: translateZ(8rem);
        letter-spacing: 3 * var.$letterSpacing;
        opacity: 0;
    }
}

@keyframes fadeAnimation {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}

/* SECTION 2 */

.section-2 {
    width: 100%;
    height: var.$height;
    position: relative;
    @include flex;
    padding: 0 10 * var.$padding;
    box-shadow: 0 0 3rem 3rem var.$boxShadowColor-2;
    background-color: var.$black;
    overflow: hidden;
}

.section-2-container {
    width: 50%;
    height: 100%;
    @include flex;
    justify-content: center;
    flex-direction: column;
    font-size: 2.7 * var.$fontSize;
    font-weight: 100;
    letter-spacing: 0.2 * var.$letterSpacing;
    color: var.$colorLightRed;

    h2,
    h3 {
        z-index: 1;
        font-weight: 600;
        line-height: var.$lineHeight;
        margin-left: 3 * var.$margin;
        margin-bottom: 2 * var.$margin;
    }

    h3 {
        text-align: center;
    }
}

.section-2-description {
    z-index: 1;
    margin-left: 4 * var.$margin;
    line-height: var.$lineHeight;
}

.video-wrapper {
    width: 50%;
    height: 100%;
    @include flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
    overflow: hidden;

    img {
        position: absolute;
        z-index: 0;
        opacity: 0.3;
        height: 0.7 * var.$height;
        bottom: -20%;
        z-index: 0;
        transform: rotate(180deg);
    }

    .video {
        width: 70%;
        height: 40%;
        z-index: 1;
        object-fit: cover;
        box-shadow: 0 0 2rem 2rem var.$boxShadowColor-3;
        transition: 1.5 * var.$transition;
    }
}

.section-2-paragraph {
    width: 80%;
    z-index: 1;
    @include flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 2 * var.$padding;
    font-size: 2.8 * var.$fontSize;
    letter-spacing: 0.2 * var.$letterSpacing;
    line-height: 0.8 * var.$lineHeight;
    color: var.$colorLightRed;
    text-shadow: 1rem 1rem 2rem var.$boxShadowColor-3;
}

/* SECTION 3 */

.section-3 {
    width: 100%;
    height: var.$height;
    @include flex;
    padding-left: 2 * var.$padding;
    background-image: var.$backgroundImageSection;
    background-repeat: no-repeat;
    background-size: cover;
}

.pricing-cards-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2 * var.$padding;

    .pricing-card {
        width: 40rem !important;
        height: 65rem !important;
        background-color: var.$black;
        border-radius: var.$borderRadius;

        .pricing-card-front {
            width: 100%;
            height: 100%;
            @include flex;
            flex-direction: column;
            justify-content: space-between;

            .pricing-card-heading {
                width: 100%;
                height: 3 * var.$lineHeight + rem;
                @include flex;
                padding-left: 3 * var.$padding;
                color: var.$colorLightRed;
                font-size: 4 * var.$fontSize;
                font-weight: 600;
                letter-spacing: var.$letterSpacing;
                text-transform: uppercase;
            }

            .pricing-card-price {
                font-size: 5 * var.$fontSize;
                font-weight: 900;
                color: var.$colorLightRed;
                letter-spacing: 0.3 * var.$letterSpacing;
            }
        }
    }
}

.heading-free,
.heading-basic,
.heading-standard,
.heading-premium {
    border-radius: var.$borderRadius var.$borderRadius 0 0;
}

.heading-free {
    background: var.$linear-gradient-blue;
}

.heading-basic {
    background: var.$linear-gradient-yellow;
}

.heading-standard {
    background: var.$linear-gradient-green;
}

.heading-premium {
    background: var.$linear-gradient-red;
}

.pricing-card-list {
    text-align: center;
    padding: var.$padding;

    li {
        margin: 0.8 * var.$margin;
        list-style: none;
    }

    i {
        font-size: 1.8 * var.$fontSize;
        width: 1.5 * var.$lineHeight + rem;
    }

    span {
        font-weight: 500;
        font-size: 1.5 * var.$fontSize;
        letter-spacing: 0.1 * var.$letterSpacing;
        line-height: 0.8 * var.$lineHeight;

        strong {
            font-weight: 900;
            font-size: 1.6 * var.$fontSize;
        }
    }
}

.list-free li {
    color: var.$blue;
}

.list-basic li {
    color: var.$brown;
}

.list-standard li {
    color: var.$green;
}

.list-premium li {
    color: var.$red;
}

.pricing-card-btn {
    @include button;
    height: 2 * var.$lineHeight + rem;
    width: 10 * var.$lineHeight + rem;
    font-size: 2 * var.$fontSize;
    color: var.$black;
    margin-bottom: 1.5 * var.$margin;

    &::before {
        @include button-before;
    }

    &:hover::before {
        left: 10 * var.$left;
    }
}

.btn-free {
    background: var.$linear-gradient-blue;
}

.btn-basic {
    background: var.$linear-gradient-yellow;
}

.btn-standard {
    background: var.$linear-gradient-green;
}

.btn-premium {
    background: var.$linear-gradient-red;
}

/* SECTION 4 */

.section-4 {
    width: 100%;
    height: 90vh;
    @include flex;
    padding-bottom: 2 * var.$padding;
    background-color: var.$black;
    box-shadow: 0 0 3rem 3rem var.$boxShadowColor-3;
}

.contact-wrapper {
    width: 100%;
    @include flex;
    flex-direction: column;
    justify-content: center;

    .contact-details {
        display: flex;
        margin-bottom: 3 * var.$margin;

        div {
            width: 18rem;
            text-align: center;
            margin: 2 * var.$margin;
        }

        i {
            font-size: 6 * var.$fontSize;
            color: var.$colorMediumRed;
        }

        h3 {
            font-size: 3 * var.$fontSize;
            font-weight: 600;
            text-transform: uppercase;
            color: var.$colorLightRed;
            letter-spacing: 0.5 * var.$letterSpacing;
            margin: var.$margin 0;
        }

        p {
            font-size: 2 * var.$fontSize;
            font-weight: 400;
            color: var.$colorLightRed;
            padding: 0.5 * var.$padding 0;
        }
    }

    h1 {
        font-size: 4 * var.$fontSize;
        font-weight: 500;
        color: var.$colorLightRed;
        margin-bottom: 1.5 * var.$margin;
        letter-spacing: 0.2 * var.$letterSpacing;
    }
}

.contact-form {
    width: 80rem;
    @include flex;
    flex-direction: column;
    gap: 25px;

    .send-message {
        @include button;
        height: 2 * var.$lineHeight + rem;
        font-size: 2 * var.$fontSize;
        background: linear-gradient(to right, var.$colorMediumRed, var.$colorDarkRed);

        &::before {
            @include button-before;
        }

        &:hover::before {
            left: 10 * var.$left;
        }
    }

    input,
    textarea {
        width: 80rem;
        padding: 1.2 * var.$padding;
        margin-bottom: 0.5 var.$margin;
        background-color: var.$boxShadowColor-2;
        color: var.$colorLightRed;
        font-weight: 200;
        font-size: 1.8 * var.$fontSize;
        letter-spacing: 0.05 * var.$letterSpacing;
        border: none;
        border-radius: var.$borderRadius;
    }
    textarea {
        max-width: 100%;
        max-height: 7.5 * var.$lineHeight + rem;
        min-height: 4 * var.$lineHeight + rem;
    }
}

/* Footer */

.footer {
    width: 100%;
    @include flex;
    justify-content: space-between;
    background-color: rgba(1, 1, 1, 0.9);
    box-shadow: 0 0 2rem 1rem var.$boxShadowColor-5;

    .copyright {
        width: var.$width;
        font-size: 2 * var.$fontSize;
        color: var.$colorLightRed;
        font-weight: 100;
        letter-spacing: 0.1 * var.$letterSpacing;
        text-align: center;
    }
}

/* *********************************************** */

@media (max-width: 1800px) {
    .video-wrapper {
        width: 60%;
        height: 90%;
    }

    .section-2-paragraph {
        font-size: 2.5 * var.$fontSize;
    }
}

@media (max-width: 1650px) {
    .section-2-paragraph {
        font-size: 2.2 * var.$fontSize;
    }
}

@media (max-width: 1500px) {
    .video-wrapper {
        width: 70%;
        height: 90%;
    }

    .section-2-container {
        font-size: 2.5 * var.$fontSize;
    }
}

@media (max-width: 1410px) {
    .banner-heading span {
        font-size: 6 * var.$fontSize;
    }

    .banner-paragraph {
        font-size: 4 * var.$fontSize;
    }

    .section-2-paragraph {
        font-size: 2 * var.$fontSize;
    }

    .section-3 {
        padding: 5 * var.$padding 0 10 * var.$padding;
    }
}

@media (max-width: 1250px) {
    .left {
        height: 75%;
    }

    .right {
        height: 76%;
    }

    .banner-heading span {
        font-size: 5 * var.$fontSize;
    }

    .banner-paragraph {
        font-size: 3 * var.$fontSize;
    }

    .section-2 {
        padding: 0 5 * var.$padding;
    }

    .section-2-container {
        font-size: 2.2 * var.$fontSize;
    }

    .video-wrapper {
        width: 90%;
        height: 80%;
    }

    .section-2-description {
        font-size: 2.1 * var.$fontSize;
    }
}

@media (max-width: 990px) {
    .logo {
        .logo-name {
            font-size: 3 * var.$fontSize;
        }

        .logo-name span {
            font-size: 5 * var.$fontSize;
        }
    }

    .left {
        height: 65%;
    }

    .right {
        height: 60%;
    }

    .banner-heading span {
        font-size: 4.5 * var.$fontSize;
    }

    .banner-paragraph {
        font-size: 2.8 * var.$fontSize;
    }

    .section-2 {
        height: 1.2 * var.$height;
        flex-direction: column;
    }

    .section-2-container {
        width: 80%;
    }

    .video-wrapper {
        width: 80%;
        height: 100%;
        gap: 50px;
    }

    .pricing-cards-wrapper {
        .pricing-card {
            height: 60rem !important;
        }
    }

    .contact-wrapper {
        h3 {
            font-size: 2 * var.$fontSize;
        }

        p {
            font-size: 1.5 * var.$fontSize;
        }

        h1 {
            font-size: 3.5 * var.$fontSize;
        }
    }

    .contact-form {
        input,
        textarea {
            width: 60rem;
        }
    }
}

@media (max-width: 840px) {
    .left {
        height: 55%;
    }

    .right {
        height: 45%;
    }

    .section-2 {
        padding: 0 2 * var.$padding;
    }

    .section-2-container {
        font-size: 1.5 * var.$fontSize;

        h2,
        h3 {
            margin-bottom: var.$margin;
        }
    }

    .section-2-paragraph {
        width: 90%;
        font-size: 1.8 * var.$fontSize;
    }

    .contact-wrapper {
        h3 {
            font-size: 1.8 * var.$fontSize;
        }

        p {
            font-size: 1.3 * var.$fontSize;
        }

        h1 {
            font-size: 3.2 * var.$fontSize;
        }
    }

    .contact-form {
        input,
        textarea {
            width: 50rem;
        }
    }

    .contact-wrapper {
        .contact-details {
            margin-bottom: 1.5 * var.$margin;

            div {
                margin: 0.5 * var.$margin;
            }
        }
    }
}

@media (max-width: 695px) {
    .left {
        bottom: 10%;
        height: 50%;
    }

    .right {
        height: 40%;
    }

    .banner-paragraph {
        width: 80%;
        font-size: 2.2 * var.$fontSize;
    }

    .section-2 {
        height: 1 * var.$height;
        flex-direction: column;
    }

    .video-wrapper {
        width: 100%;
        gap: 25px;
    }

    .section-2-container {
        width: 100%;
    }

    .contact-form {
        input,
        textarea {
            width: 45rem;
        }
    }

    .contact-wrapper {
        .contact-details {
            margin-left: var.$margin;
            margin-right: var.$margin;
            margin-bottom: 3 * var.$margin;

            div {
                margin: 0.25 * var.$margin;
            }

            i {
                font-size: 4.5 * var.$fontSize;
                color: var.$colorMediumRed;
            }

            h3 {
                font-size: 2 * var.$fontSize;
                margin: var.$margin 0;
            }

            p {
                font-size: 1.8 * var.$fontSize;
                padding: 0.15 * var.$padding 0;
            }
        }

        h1 {
            font-size: 2.5 * var.$fontSize;
        }
    }
}

@media (max-width: 575px) {
    .banner-heading span {
        margin: 0 var.$margin;
        font-size: 4 * var.$fontSize;
    }

    .menu-container {
        .menu {
            top: 12rem;
            right: 2rem;
            font-size: 4 * var.$fontSize;
            color: var.$colorMediumRed;
        }
    }

    .logo {
        padding-left: 0;
        justify-content: center;

        .logo-name {
            padding-top: var.$padding;
        }
    }

    .section-2 {
        height: var.$height;
    }

    .section-2-container {
        h2,
        h3 {
            font-size: 1.8 * var.$fontSize;
            margin-left: 0;
            margin-bottom: 0;
        }

        li {
            font-size: 1.8 * var.$fontSize;
        }
    }

    .video-wrapper {
        width: 110%;
        height: 110%;
        gap: 25px;
    }

    .section-2-paragraph {
        width: 95%;
        font-size: 1.6 * var.$fontSize;
    }

    .contact-form {
        input,
        textarea {
            width: 35rem;
        }
    }

    .contact-wrapper {
        width: 70%;
        margin: 0 auto;
        text-align: center;

        .contact-details {
            padding: 0 var.$padding;
            margin-bottom: 2 * var.$margin;

            div {
                width: 14rem;
            }
        }

        h1 {
            width: 90%;
        }

        .send-message {
            width: 40%;
        }
    }
}

@media (max-width: 475px) {
    .left {
        bottom: 30%;
    }

    .logo {
        .logo-name {
            font-size: 2.5 * var.$fontSize;
        }

        .logo-name span {
            font-size: 4 * var.$fontSize;
        }
    }

    .banner-heading span {
        font-size: 3 * var.$fontSize;
    }

    .banner-btn {
        width: 60%;
    }

    .section-4 {
        height: 1.2 * var.$height;
    }

    .contact-wrapper {
        .contact-details {
            flex-direction: column;

            div {
                margin: 0.75 * var.$margin;
            }
        }
    }
}

@media (max-width: 400px) {
    .section-2-paragraph {
        display: none;
    }

    .contact-form {
        input,
        textarea {
            width: 30%;
        }
    }

    .contact-wrapper {
        .send-message {
            width: 25%;
        }

        h1 {
            font-size: 1.8 * var.$fontSize;
        }
    }

    .footer {
        .copyright {
            font-size: 1.4 * var.$fontSize;
        }
    }
}
