@use './variables.scss' as var;

$padding: 1rem;
$margin: 2rem;
$width: 100vw;
$height: 100vh;

$top: 10%;
$left: 10%;

$animationDuration: 12s;
$animationDelay: 2s;

$backgroundImageSection: url(/img/black_sand.jpg);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var.$fontFamily;
    font-weight: 400;
    outline: none;
    text-decoration: none;
}

html {
    font-size: var.$fontSize;
    scroll-behavior: smooth;
}

.section-heading {
    font-weight: 100;
    font-size: var.$fontSize;
    color: var.$colorLightRed;
    margin-right: 1.5 * $margin;
}

.section-heading-line {
    z-index: 100;
    width: 7.5 * var.$lineHeight + rem;
    height: 0.1 * var.$lineHeight + rem;
    background-color: var.$colorLightRed;
}

/* NAVBAR */

.navbar {
    position: fixed;
    top: -8 * $top;
    left: 0;
    z-index: 10;
    width: $width;
    height: 4 * var.$lineHeight + rem;
    padding: $padding;
    background-color: var.$black;
    box-shadow: 0 0 2rem 1rem var.$boxShadowColor-5;
    transition: height 0.5s;
    animation: animateNavbar 0.08 * $animationDuration 0.25 * $animationDelay forwards;
}

.navbar.change {
    height: $height;
    background-color: var.$black;
    box-shadow: none;
}

.logo {
    position: relative;
}

.logo-name {
    position: absolute;
    top: 0;
    left: 0.65 * $left;
    font-weight: 600;
    margin: 0.25 * $margin;
    font-size: 2.5 * var.$fontSize;
    text-transform: uppercase;
    color: var.$colorLightRed;
}

.logo-name span {
    font-size: 4 * var.$fontSize;
    font-weight: 700;
    color: var.$colorMediumRed;
}

.logo-img img {
    position: absolute;
    top: 5 * $top;
    left: 0.2 * $left;
    height: 4 * var.$lineHeight + rem;
}

.nav-list {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 1.5 * $top;
    left: 5 * $left;
    transform: translateX(-50%);
    background-color: var.$black;
    transition: var.$transition;
}

.change .nav-list {
    opacity: 1;
    visibility: visible;
    transition: all 0.7s 0.5s;
}

.nav-link {
    margin: 1.25 * $margin 0;
    font-size: 4.5 * var.$fontSize;
    font-weight: 700;
    letter-spacing: 0.3 * var.$letterSpacing;
    color: var.$colorLightRed;
    text-shadow: 0 0 0.5rem var.$colorDarkRed;
    text-transform: uppercase;
    transition: var.$transition;
}

.nav-link:hover {
    color: var.$colorMediumRed;
}

.logo-img-2 {
    position: absolute;
    bottom: 8 * $top;
    right: -2 * $left;
    z-index: -10;
    height: 4 * $top;
    opacity: 0.3;
}

.menu {
    width: 4rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: fixed;
    top: 2.5rem;
    right: 4rem;
    z-index: 100;
    cursor: pointer;
}

.line {
    width: 100%;
    border-radius: 50%;
    height: 0.15 * var.$lineHeight + rem;
    background-color: var.$colorLightRed;
    transition: 2.5 * var.$transition;
}

.line-1 {
    width: 50%;
}

.change .line-1 {
    transform: translate(100%, 1rem) rotate(-35deg);
    transform-origin: right;
}

.line-3 {
    width: 50%;
    margin-left: auto;
}

.change .line-3 {
    transform: translateY(-1.1rem) rotate(35deg);
    transform-origin: right;
}

@keyframes animateNavbar {
    0% {
        top: -8rem;
    }
    100% {
        top: 0;
    }
}

/* SECTION 1 */

.section-1 {
    width: 100%;
    height: $height;
    background-image: $backgroundImageSection;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner {
    width: 100%;
    position: absolute;
    top: 2.5 * $top;
    left: 5 * $left;
    transform: translateX(-50%);
    text-align: center;
}

.banner-heading {
    margin-bottom: 1.75 * $margin;
    height: 10 * var.$lineHeight + rem;
    perspective: 25 * var.$lineHeight + rem;
    overflow: hidden;
}

.banner-heading span {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11 * var.$fontSize;
    letter-spacing: 3 * var.$letterSpacing;
    font-weight: 400;
    text-transform: uppercase;
    color: var.$colorLightRed;
    text-shadow: 0.1rem 0.1rem 0.5rem var.$silver;
    transform: translateZ(8rem);
    opacity: 0;
}

.heading-1 {
    animation: animationHeading $animationDuration 1.5 * $animationDelay infinite;
}

.heading-2 {
    animation: animationHeading $animationDuration 3 * $animationDelay infinite;
}

.heading-3 {
    animation: animationHeading $animationDuration 4.5 * $animationDelay infinite;
}

.heading-4 {
    animation: animationHeading $animationDuration 6 * $animationDelay infinite;
}

.banner-paragraph {
    width: 80%;
    margin: 0 auto 3 * $margin;
    padding: $padding;
    font-weight: 200;
    font-size: 3 * var.$fontSize;
    color: var.$colorLightRed;
    visibility: hidden;
    opacity: 0;
    animation: fadeAnimation 0.08 * $animationDuration 0.75 * $animationDelay forwards;
}

.banner-btn {
    position: relative;
    width: 15 * var.$lineHeight + rem;
    height: 6 * var.$lineHeight + rem;
    color: var.$colorLightRed;
    font-size: 4 * var.$fontSize;
    font-weight: 300;
    letter-spacing: 0.1 * var.$letterSpacing;
    text-transform: uppercase;
    border-radius: 8 * var.$borderRadius;
    border: 0.1 * var.$borderWidth solid var.$colorDarkRed;
    background: linear-gradient(to right, var.$colorMediumRed, var.$colorDarkRed);
    box-shadow: 2rem 2rem 5rem var.$boxShadowColor-4;
    text-shadow: 0.6rem 0.3rem 0.8rem var.$boxShadowColor-1;
    cursor: pointer;
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
    animation: fadeAnimation 0.08 * $animationDuration $animationDelay forwards;
}

.banner-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: -10 * $left;
    width: 100%;
    height: 100%;
    background: var.$linear-gradient-1;
    transform: skewX(-30deg);
    transition: 2.5 * var.$transition;
}

.banner-btn:hover::before {
    left: 10 * $left;
}

@keyframes animationHeading {
    0% {
        transform: translateZ(8rem);
        letter-spacing: 3 * var.$letterSpacing;
        opacity: 0;
    }
    3% {
        transform: translateZ(0);
        letter-spacing: 1.5 * var.$letterSpacing;
        opacity: 1;
    }
    25% {
        transform: translateZ(0);
        letter-spacing: 1.5 * var.$letterSpacing;
        opacity: 1;
    }
    28% {
        transform: translateZ(8rem);
        letter-spacing: 3 * var.$letterSpacing;
        opacity: 0;
    }
    100% {
        transform: translateZ(8rem);
        letter-spacing: 3 * var.$letterSpacing;
        opacity: 0;
    }
}

@keyframes fadeAnimation {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}

/* SECTION 2 */

.section-2 {
    width: 100%;
    height: $height;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 10 * $padding;
    box-shadow: 0 0 3rem 3rem var.$boxShadowColor-2;
    background-color: var.$black;
}

.section-2-bg {
    position: absolute;
    top: 0;
    left: $left;
    z-index: 0;
    transform: rotate(20deg);
    opacity: 0.3;
}

.section-2-bg img {
    height: 0.5 * $height;
}

.video-wrapper {
    width: 70rem;
    height: 40rem;
    position: absolute;
    top: $top;
    right: 1.5 * $left;
    box-shadow: 3rem 3rem 3rem var.$boxShadowColor-4;
    overflow: hidden;
}

.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.3;
    transition: 1.5 * var.$transition;
}

.controls {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: var.$boxShadowColor-3;
    transform: translateY(calc(100% - 0.4rem));
    transition: 2 * var.$transition;
}

.video-wrapper:hover .controls {
    transform: translateY(0);
}

.buttons {
    padding: $padding 0.5 * $padding 0.5 * $padding;
}

.buttons button {
    background: none;
    border: none;
    cursor: pointer;
}

.buttons i {
    font-size: 2.5 * var.$fontSize;
    color: var.$colorLightRed;
}

.video-bar-wrapper {
    width: 100%;
    height: 0.25 * var.$lineHeight + rem;
    background-color: var.$black;
    position: absolute;
    top: 0;
    left: 0;
}

.video-bar {
    width: 0;
    height: 100%;
    background-color: var.$colorMediumRed;
    transition: var.$transition linear;
}

.fa-quote-left {
    position: absolute;
    top: 0.3rem;
    left: 0;
    font-size: 4 * var.$fontSize;
    opacity: 0.1;
}

.section-2-paragraph {
    width: 95rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding: 2 * $padding;
    position: absolute;
    bottom: 7rem;
    right: 15rem;
    font-size: 1.8 * var.$fontSize;
    font-weight: 100;
    letter-spacing: 0.2 * var.$letterSpacing;
    color: var.$colorLightRed;
    border-top: 0.4 * var.$borderWidth double var.$colorLightRed;
    border-bottom: 0.4 * var.$borderWidth double var.$colorLightRed;
    text-shadow: 1rem 1rem 2rem var.$boxShadowColor-3;
}

.fa-quote-right {
    position: absolute;
    bottom: 0.3rem;
    right: 0.8rem;
    font-size: 4 * var.$fontSize;
    opacity: 0.1;
}

/* SECTION 3 */

.section-3 {
    width: 100%;
    height: $height;
    display: flex;
    align-items: center;
    padding-left: 10 * $padding;
    background-image: $backgroundImageSection;
    background-repeat: no-repeat;
    background-size: cover;
}

.pricing-cards-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 5 * $padding;
}

.pricing-card {
    width: 25rem !important;
    height: 45rem !important;
    background-color: var.$black;
    border-radius: var.$borderRadius;
}

.pricing-card-front {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.pricing-card-heading {
    width: 100%;
    height: 2.5 * var.$lineHeight + rem;
    display: flex;
    align-items: center;
    padding-left: 2 * $padding;
    color: var.$colorLightRed;
    font-size: 2 * var.$fontSize;
    font-weight: 300;
    text-transform: uppercase;
}

.heading-free {
    background: var.$linear-gradient-blue;
    border-radius: var.$borderRadius var.$borderRadius 0 0;
}

.heading-basic {
    background: var.$linear-gradient-yellow;
    border-radius: var.$borderRadius var.$borderRadius 0 0;
}

.heading-standard {
    background: var.$linear-gradient-green;
    border-radius: var.$borderRadius var.$borderRadius 0 0;
}

.heading-premium {
    background: var.$linear-gradient-red;
    border-radius: var.$borderRadius var.$borderRadius 0 0;
}

.pricing-card-price {
    font-size: 6 * var.$fontSize;
    font-weight: 800;
    color: var.$colorLightRed;
    letter-spacing: 0.3 * var.$letterSpacing;
}

.pricing-card-list li {
    margin-bottom: 0.25 * $margin;
    list-style: none;
}

.list-free li {
    color: var.$blue;
}

.list-basic li {
    color: var.$brown;
}

.list-standard li {
    color: var.$green;
}

.list-premium li {
    color: var.$red;
}

.pricing-card-list i {
    font-size: 1.8 * var.$fontSize;
    width: 1.5 * var.$lineHeight + rem;
}

.pricing-card-list span {
    font-weight: 300;
    font-size: 1.8 * var.$fontSize;
    letter-spacing: 0.1 * var.$letterSpacing;
}

.pricing-card-btn {
    width: 8 * var.$lineHeight + rem;
    height: 2 * var.$lineHeight + rem;
    margin-bottom: $margin;
    border: none;
    border-radius: 3 * var.$borderRadius;
    font-size: 1.8 * var.$fontSize;
    font-weight: 200;
    color: var.$colorLightRed;
    text-shadow: 0.3rem 0.3rem 0.6rem var.$boxShadowColor-2;
    text-transform: uppercase;
    letter-spacing: 0.1 * var.$letterSpacing;
    transition: 2.5 * var.$transition;
    cursor: pointer;
}

.pricing-card-btn:hover {
    transform: scale(0.98);
    box-shadow: 0 0 0.5rem var.$silver;
}

.btn-free {
    background-color: var.$blue;
}

.btn-basic {
    background-color: var.$brown;
}

.btn-standard {
    background-color: var.$green;
}

.btn-premium {
    background-color: var.$red;
}

/* SECTION 4 */

.section-4 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    padding-left: 10 * $padding;
    padding-bottom: 2 * $padding;
    background-color: var.$black;
    box-shadow: 0 0 3rem 3rem var.$boxShadowColor-3;
}

.contact-wrapper {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-details {
    display: flex;
    margin-bottom: 2 * $margin;
}

.contact-details div {
    width: 18rem;
    text-align: center;
    margin: 2 * $margin;
}

.contact-details i,
.contact-wrapper i {
    font-size: 5 * var.$fontSize;
    color: var.$colorMediumRed;
}

.contact-details h3 {
    font-size: 2.5 * var.$fontSize;
    font-weight: 600;
    text-transform: uppercase;
    color: var.$colorLightRed;
    margin: $margin 0;
}

.contact-details p {
    font-size: 1.6 * var.$fontSize;
    font-weight: 300;
    color: var.$colorLightRed;
}

.contact-logo {
    height: 2.5 * var.$lineHeight + rem;
    display: flex;
    line-height: 2 * var.$lineHeight + rem;
    margin-bottom: 0.5 * $margin;
}
.contact-wrapper h1 {
    font-size: 4 * var.$fontSize;
    font-weight: 600;
    color: var.$colorLightRed;
    margin-bottom: 1.5 * $margin;
    text-transform: uppercase;
    letter-spacing: 2.5 * var.$letterSpacing;
    padding-left: $padding;
    padding-right: 0.5 * $padding;
}

.contact-form {
    width: 50rem;
    display: flex;
    flex-direction: column;
}

.contact-form input,
.contact-form textarea {
    padding: 1.2 * $padding;
    background-color: var.$boxShadowColor-4;
    color: var.$colorLightRed;
    margin-bottom: 0.5 $margin;
    font-weight: 200;
    font-size: 1.8 * var.$fontSize;
    letter-spacing: 0.05 * var.$letterSpacing;
    border: none;
    border-radius: var.$borderRadius;
}

.contact-form textarea {
    max-width: 100%;
    max-height: 15rem;
    min-height: 5.5rem;
}

.contact-form .send-message {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 2 * var.$fontSize;
    color: var.$colorLightRed;
    background-color: var.$colorMediumRed;
    transition: 2.5 * var.$transition;
    cursor: pointer;
}

.contact-form .send-message:hover {
    background-color: var.$colorDarkRed;
    transform: scale(0.98);
}

/* Footer */

.footer {
    width: 100%;
    height: 5 * var.$lineHeight;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(1, 1, 1, 0.904);
    box-shadow: 0 0 2rem 1rem var.$boxShadowColor-5;
    padding: 0 10 * $padding;
}

.footer-nav a {
    font-size: 2 * var.$fontSize;
    font-weight: 500;
    color: var.$colorLightRed;
    text-shadow: 0 0 0.5rem var.$colorDarkRed;
    margin-right: 1.5 * $margin;
    letter-spacing: 0.1 * var.$letterSpacing;
    text-transform: uppercase;
    transition: 2.5 * var.$transition;
}

.footer-nav a:hover {
    color: var.$colorMediumRed;
}
.copyright {
    font-size: 1.5 * var.$fontSize;
    color: var.$colorLightRed;
    font-weight: 100;
    letter-spacing: 0.1 * var.$letterSpacing;
    text-align: center;
}

/* *************************** */

@media (max-width: 1800px) {
    .video-wrapper {
        width: 80rem;
        height: 45rem;
        right: 15rem;
        top: 15rem;
    }

    .section-2-paragraph {
        width: 90rem;
        right: 15rem;
    }

    .section-3 .section-heading-line {
        margin-right: 1.5 * $margin;
    }
}

@media (max-width: 1650px) {
    html {
        font-size: 57%;
    }

    .logo-name {
        left: 0.7 * $left;
    }

    .video-wrapper {
        width: 70rem;
        height: 40rem;
        right: 5rem;
        top: 10rem;
    }

    .section-2-paragraph {
        width: 90rem;
        right: 20rem;
        bottom: 10rem;
    }
}

@media (max-width: 1500px) {
    .logo-name {
        left: $left;
    }

    .section-heading-line {
        display: none;
    }

    .video-wrapper {
        width: 60rem;
        right: 10rem;
    }
}

@media (max-width: 1400px) {
    html {
        font-size: 45%;
    }

    .banner-heading span {
        font-size: 10rem;
    }

    .banner-paragraph {
        width: 45rem;
        font-size: 3rem;
    }

    .section-2,
    .section-3,
    .section-4 {
        flex-direction: column;
    }

    .video-wrapper {
        width: 80rem;
        height: 45rem;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
    }

    .section-2-paragraph {
        left: 50%;
        transform: translateX(-50%);
        bottom: 12rem;
        font-size: 2.6rem;
        font-weight: 100;
    }

    .section-3 {
        height: auto;
        padding: 5 * $padding 0 10 * $padding;
    }

    .section-3 .section-heading {
        margin-bottom: 3.5 * $margin;
    }

    .swiper-container {
        width: 100%;
    }

    .section-4 {
        height: auto;
        padding: 5 * $padding 0;
    }
}

@media (max-width: 900px) {
    html {
        font-size: 40%;
    }

    .navbar {
        padding: 0;
        width: 100%;
        height: 5 * var.$lineHeight;
    }

    .logo-name {
        top: 3 * $top;
        left: $left;
        margin: $margin;
        font-size: 4rem;
    }

    .logo-name span {
        font-size: 5rem;
    }

    .banner {
        top: 3 * $top;
    }

    .banner-heading {
        height: 7.5 * var.$lineHeight;
    }

    .banner-heading span {
        font-size: 0.8 * var.$fontSize;
    }

    .banner-paragraph {
        width: 45rem;
        font-size: 0.4 * var.$fontSize;
    }

    .banner-btn {
        position: relative;
        width: 30rem;
        height: 5 * var.$lineHeight;
        font-size: 0.3 * var.$fontSize;
    }

    .section-2,
    .section-3,
    .section-4 {
        flex-direction: column;
        box-shadow: none;
    }

    .section-2-paragraph {
        bottom: 12rem;
    }
}

@media (max-width: 800px) {
    html {
        font-size: 35%;
    }

    .contact-details div {
        margin: 3rem 2rem;
    }
}

@media (max-width: 700px) {
    html {
        font-size: 30%;
    }

    .menu {
        right: 15%;
    }

    .section-1,
    .section-2 {
        height: 0.8 * $height;
    }

    .section-3 {
        height: 0.7 * $height;
    }

    .video-wrapper {
        width: 70rem;
        height: 40rem;
    }

    .section-2-paragraph {
        width: 80rem;
    }

    .footer {
        flex-direction: column;
        justify-content: center;
    }

    .footer-nav {
        margin-bottom: $margin;
    }
}

@media (max-width: 500px) {
    html {
        font-size: 26%;
    }

    .banner-heading span {
        top: 20%;
        font-size: 0.5 * var.$fontSize;
    }

    .video-wrapper {
        width: 60rem;
    }

    .section-2-paragraph {
        width: 60rem;
    }

    .section-2-bg {
        display: none;
    }

    .contact-details div {
        width: 18rem;
        margin: 1.5 * $padding $padding;
    }

    .contact-form {
        width: 60rem;
    }
}
